# https://github.com/settings/tokens
# you can find authg in fixtures/cassettes/github_api.yml
---
development:
  GH_USERNAME: 'XXX'
  GH_TOKEN: 'XXX'
  GH_AUTH: 'Basic XXX'
  AWS_ACCESS_KEY_ID: 'XXX'
  AWS_SECRET_ACCESS_KEY: 'XXX'
  AWS_REGION: 'XXX'

test:
  GH_USERNAME: 'XXX'
  GH_TOKEN: 'XXX'
  GH_AUTH: 'Basic XXX'
  AWS_ACCESS_KEY_ID: 'XXX'
  AWS_SECRET_ACCESS_KEY: 'XXX'
  AWS_REGION: 'XXX'
