# https://github.com/settings/tokens
# you can find authg in fixtures/cassettes/github_api.yml
---
development:
  GH_USERNAME: 'XXX'
  GH_TOKEN: 'XXX'
  GH_AUTH: 'Basic XXX'
test:
  GH_USERNAME: 'XXX'
  GH_TOKEN: 'XXX'
  GH_AUTH: 'Basic XXX'
